<section class="container">

  <section class="smaller-container">
    Login
  </section>

  <section class="smaller-container">
    Podaj email
  </section>

  <section class="smaller-container">
    <mat-form-field class="example-full-width">
      <mat-label>Adres email</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </section>

  <section class="smaller-container">
    Podaj hasło
  </section>

  <section class="smaller-container">
    <mat-form-field class="example-full-width">
      <mat-label>Hasło</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </section>

  <section class="smaller-container">
    <button mat-flat-button routerLink="/feature-list">Zaloguj</button>
  </section>

  <section class="smaller-container">
    <button mat-flat-button routerLink="/register">Zarejestruj</button>
  </section>
</section>